{
  "projectId": "com-acme"

  "loader": {
    "input": {
      "subscription": ${input_sub}
    }

    "output": {
      "good": {
        "datasetId": "snowplow"
        "tableId": "events"
      }

      "bad": {
        "topic": ${bad_types_topic}
      }

      "types": {
        "topic": ${types_topic}
      }

      "failedInserts": {
        "topic": ${failed_inserts_topic}
      }
    }
  }

  "mutator": {
    "input": {
      "subscription": ${types_sub}
    }

    "output": {
      "good": \$${loader.output.good} # will be automatically inferred
    }
  }

  "repeater": {
    "input": {
      "subscription": ${failed_inserts_sub}
    }

    "output": {
      "good": \$${loader.output.good} # will be automatically inferred

      "deadLetters": {
        "bucket": ${dead_letter_bucket_path}
      }
    }
  }

  "monitoring": {} # disabled
}
