sudo docker run \
  -d \
  --restart always \
  --network host \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  -v $${CONFIG_DIR}/resolver.json:/resolver.json \
  ${image} \
  --config $(echo $config_base64 | tr -d ' \n') \
  --resolver $(echo $resolver_base64 | tr -d ' \n') \
  --verbose \
  --bufferSize=20 \
  --timeout=20 \
  --backoffPeriod=900 \
  -Dconfig.override_with_env_vars=true
