#!/bin/bash
set -e -x

# -----------------------------------------------------------------------------
#  BASE INSTALL
# -----------------------------------------------------------------------------

readonly CONFIG_DIR=/opt/snowplow/config

function install_base_packages() {
  sudo apt install wget curl unzip -y
}

function install_docker_ce() {
  sudo apt install docker.io -y
  sudo systemctl enable --now docker
}

sudo apt update -y

install_base_packages
install_docker_ce

sudo mkdir -p $${CONFIG_DIR}

# Create config.hocon on volume from template
sudo cat << EOF > $${CONFIG_DIR}/config.hocon
${config_hocon_contents}
EOF

# Create base64 config string
config_base64=$(base64 $${CONFIG_DIR}/config.hocon)

# Create resolver.json on volume from template
sudo cat << EOF > $${CONFIG_DIR}/resolver.json
${resolver_json_contents}
EOF

# Create base64 resolver string
resolver_base64=$(base64 $${CONFIG_DIR}/resolver.json)

# Run container from image
${image_script}

# Telemetry
${telemetry_script}
